<div id="container">
  <div class="math label">math</div>
  <div class="physics label">physics</div>

  <canvas id="drawing_canvas"></canvas>
</div>


<script src="//cdnjs.cloudflare.com/ajax/libs/p2.js/0.6.0/p2.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/dat-gui/0.5/dat.gui.min.js"></script>
