body {
    background-color: #000;
    margin: 0;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.label {
    font-size: 1.25em;
    font-family: monospace;
    margin-left: 4px;
}

.math {
    color: #f0f;
}

.physics {
    color: #0ff;
}